#header {
	height: 100px;
}

#footer {
	height: 50px;
}

#body {
	align: center;
}

#search_box {
	position: relative;
}

#search_box #search-form {
	position: absolute;
	right: 0;
	top: 30px;
}